<!DOCTYPE html>
<html>
    <head>
        <title>My Blog</title>
        <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
    </head>
    
    <body>
        <div id="header" class="section">
            <img src="images/men.jpg" alt="op" width="300" height="300">
            <p>Yaroslav Okhrimchuk</p>
        </div>
         
         <div class="section">
            <h1><span>About Me</span></h1>
            <p>
                Hey! I'm <strong>Yarik</strong>. Coding has changed my world. It's not just about apps. 
                Learning to code gave me <i>problem-solving skills</i> and a way to communicate with others on a technical level. 
                I can also develop websites and use my coding skills to get a better job. 
                And I learned it all at <strong>SoloLearn</strong> where they build your self-esteem and keep you motivated. 
                Join me in this rewarding journey. You'll have fun, get help, and learn along the way!
            </p>
            <p class="quote">"Declare variables, not war"</p>
        </div>
                    
        <div class="section">
            <h1><span>My Skills</span></h1>
            <ul>
                <li>HTML <br/>
                    <progress min="0" max="100" value="20"></progress>
                </li>
                <li>Ruby <br/>
                    <progress min="0" max="100" value="70"></progress>
                </li>
                <li>CSS <br/>
                    <progress min="0" max="100" value="10"></progress>
            </ul>
        </div>
                            
       <div class="section">
            <h1><span>Contact Me</span></h1>                     
            <form>
                <input name="name" placeholder="Name" type="text" required /><br/>
                <input name="email" placeholder="Email" type="email" required /><br/>
                <textarea name="message" placeholder="Message" required ></textarea>
                <input type="submit" value="SEND" class="submit" />
            </form>
        </div>
    </body>
</html>